{% extends 'base.html' %}
{% block content %}
    <h2 class="text-center">Créer une critique</h2>
        <form method="post" enctype="multipart/form-data">
            <div class="card">
                <div class="card-body">
                    <div class="ticket-form">
                        <h3>Livre/Article</h3>
                        {{ form_ticket.as_p }}
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-body">
                    <div class="review-form">
                        <h3>Critique</h3>
                        {{ form_review.as_p }}
                        {% csrf_token %}
                        <button type="submit" >Publier</button>
                        </div>
                    </div>
                </div>
            </form>
{% endblock content %}