{% extends 'base.html' %}
{% block content %}
    <h2>Créer une critique</h2>

    <form method="post" enctype="multipart/form-data">
        <div class="ticket-form card">
            <div class="card-body">
                <h3>Vous êtes en poster en répondre à</h3>
                {% include "ticket.html" %}
            </div>
        </div>
        <div class="review-form card">
            <div class="card-body">
                <h3>Critique</h3>
                {{ form_review.as_p }}
                {% csrf_token %}
                <button type="submit" >Envoyer</button>
                </div>
            </div>
    </form>
{% endblock content %}