{% block content %}
    <!-- Display ticket -->
     huhh
    {% if ticket %}
        <div class="card mb-4">
            <div class="card-body">
            <div class="d-flex justify-content-between mb-2">
                <div><small class="text-muted">Ticket - {{ ticket.user }}</small></div>
                <div><small class="text-muted">{{ ticket.time_created|date:"H:i, d F Y" }}</small></div>
            </div>
            <h5 class="card-title">{{ ticket.title }}</h5>
            {% if ticket.image %}
                <img src="{{ ticket.image.url }}" class="img-fluid" style="max-height: 300px; max-width: 300px; object-fit: contain;">
            {% endif %}
            </div>
        </div>
    {% endif %}
{% endblock content %}